.letra{
    width: 30px;
    font-size: 30px;
    text-transform:uppercase;
    text-align: center;
    display: ;
}
.letraJ{
    width: 30px;
    font-size: 30px;
    text-transform:uppercase;
    text-align: center;
    margin: 5px;
}
.dvdisplay{
    display: block;
}
#dvforca{
    position: absolute;
    left: 150px;
}
#cabeca{
    position: absolute;
    top: 0;
    left: 0;
}
#corpo{
    position: absolute;
    top: 200px;
    left: -17px;
}
#bracoE{
    position: absolute;
    top: 218px;
    left: -35px;
}
#bracoD{
    position: absolute;
    top: 220px;
    left: 105px;
}
#pernaE{
    position: absolute;
    top: 420px;
    left: -50px;
}
#pernaD{
    position: absolute;
    top: 420px;
    left: 115px;
}
